<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dates.css">
    <title>dates</title>
</head>
<header>
    <div class="container">
        <div class="logo">
            <a href="/" class="logo-link">
                <h1>Groupie-Tracker</h1>
            </a>
            <p>Artists make the music; music touches a part of our lives.</p>
        </div>
        <div class="search-container">
            <form id="search-form" action="/search" method="GET">
                <input type="text" id="search-bar" class="search-bar" name="query" placeholder="Search..." 
                       aria-label="Search for an artist, member, or other information" autocomplete="off" required>
                <button type="submit" class="search-button">Search</button>
            </form>
            <div id="suggestions" class="suggestions-list"></div>
        </div>
    </div>
</header>
<body>
    <main>
        <h1>{{.Name}}</h1>
        <h3>Dates</h3>
        <ol>
            {{range .Dates.Dates}}
                <li>{{.}}</li>
            {{end}}
        </ol>
    </main>
</body>
<footer> 
    <p>&copy; 2024 Groupie-Tracker. All rights reserved</p>
    <p>Explore Iconic works of Legends. <a href="/">Back Home</a>.</p>
</footer>
<script src="../static/js/script.js"></script>
</html>